@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #111213;
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

.header {
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #2A2D31;
}

.navbar a {
  margin: 15px;
  background-color: #2A2D31;
}

.navbar {
  background-color: #2A2D31;
}

.logo {
  background-color: #2A2D31;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
}

.points {
  transition: 0.5s ease-in-out;
}

.points:hover {
  color: black;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 500px;
  background-color: #2A2D31;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card1:hover {
  transform: scale(1.04);
}

.card1 button {
  border: none;
}

.card1 h4,
button {
  background-color: #2A2D31;
}

.aa {
  font-size: 1.1rem;
}

.viewaa {
  margin-bottom: 20%;
}

.viewaa button {
  background-color: #111213;
  font-size: 1.1rem;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.viewaa button:hover {
  transform: scale(1.2);
  background-color: black;
}

.viewaa button:active {
  background-color: #ffffff;
}

.aakep {
  display: flex;
  align-items: center;
  background-color: #2A2D31;
  padding: 50px;
  border-radius: 20px;
}

.aakep img {
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  min-width: 100%;
}

.aa h4 {
  text-align: center;
}

.viewaa a {
  background-color: #2A2D31;
  transition: 0.5s;
}

.viewaa a:hover {
  transform: scale(1.2);
  background-color: black;
}

.viewaa a:active {
  background-color: #ffffff;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.title h1 {
  font-size: 4rem;
}

#szoveg h2{
text-align: center;
}

.viewrm {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewrm button {
  background-color: #2A2D33;
  font-size: 1.1rem;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.viewrm button:hover {
  transform: scale(1.2);
  background-color: black;
}
