@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* háttér: #111213 */
/* szöveg: #e3e3e3 */
/* másodlagos: #2A2D31 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #111213;
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

.header {
  position: sticky; /* FONTOS! */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
  background-color: #2A2D31;
}


.logo {
  background-color: #2A2D31;
  transition: 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 500px;
  background-color: #2A2D31;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.card1:hover {
  transform: scale(1.04);
}

.card1 button {
  border: none;
}

.card1 h4,
button {
  background-color: #2A2D31;
}

.aa {
  font-size: 1.1rem;
}

.viewaa {
  margin-bottom: 20%;
}

.viewaa button {
  background-color: #111213;
  font-size: 1.1rem;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.viewaa button:hover {
  transform: scale(1.2);
  background-color: black;
}

.viewaa button:active {
  background-color: #ffffff;
}

.aakep {
  display: flex;
  align-items: center;
  background-color: #2A2D31;
  padding: 50px;
  border-radius: 20px;
}

.aakep img {
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  min-width: 100%;
}

.aa h4 {
  text-align: center;
}

.viewaa a {
  background-color: #2A2D31;
  transition: 0.5s;
}

.viewaa a:hover {
  transform: scale(1.2);
  background-color: black;
}

.viewaa a:active {
  background-color: #ffffff;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.title h1 {
  font-size: 4rem;
}

#szoveg h2{
text-align: center;
}

.viewrm {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewrm button {
  background-color: #2A2D33;
  font-size: 1.1rem;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.viewrm button:hover {
  transform: scale(1.2);
  background-color: black;
}

.related-content h2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.video-container{
  display: flex;
  flex-direction: row;
  justify-content: center; /* 02.14 csináld responsivera + cards */
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.video-container iframe{
  width: 400px;
  height: 300px;
}

.video-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.video-container2 iframe{
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 768px) { /* 02.15 go git majd teszteld telón!*/
  .title h1 {
    font-size: 2.5rem; 
    text-align: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px; 
  }

  .card1 {
    width: 90%; 
    height: auto; 
    padding-bottom: 20px;
  }

  .aakep {
    padding: 30px; 
  }

  .video-container, 
  .video-container2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .video-container iframe, 
  .video-container2 iframe {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 16/9;
  }
  
  .back {
    margin-left: 5%;
  }
}